<div class="bg-white p-5 rounded border-gray-100 shadowed border border-gray-200">
  <div class="grid grid-cols-12 items-center mb-5">
    <div class="col-span-2 sm:col-span-4 items-center flex">
      <img src="assets/image/avatar.jpeg" class="rounded-2xl h-8 w-8 mr-2">
      <span class="text-sm font-semibold">Ankit Singh</span>
    </div>
    <button class="col-span-2 sm:col-span-4 col-start-11 items-center font-medium text-blue-600 flex flex-rows hover:bg-gray-50 rounded-md p-2 uppercase ">
      My Tags
      <!-- <img src="assets/image/arrow.svg" class="h-8 w-8"> -->
    </button>
  </div>

  <div class="bg-gray-50 rounded p-4 border border-gray-200 flex items-center text-gray-400">
      <img src="assets/image/add-circle-outline.svg" class="h-8 w-8 invert mr-5">
      Write an article...
  </div>
</div>
